# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
# Ignore Flutter build except web output
mobile/build/*
!mobile/build/web/
!mobile/build/web/**

.next
out
*.tsbuildinfo
next-env.d.ts

# Misc
certs
.DS_Store
*.pem

# Environment Variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific
.idea/
.vscode/
*.swp
*.swo
