services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

  grpc:
    build:
      context: .
      dockerfile: ./grpc/service-a/Dockerfile
    container_name: grpc
    ports:
      - "50051:50051"
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres
    networks:
      - app-network
    restart: unless-stopped

  graphql:
    build:
      context: .
      dockerfile: ./graphql/Dockerfile
    container_name: graphql
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    environment:
      - GRPC_SERVICE_ADDRESS=grpc:50051
    depends_on:
      - grpc
    networks:
      - app-network
    restart: unless-stopped

  rest-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rest-api
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    environment:
      - GRPC_SERVICE_ADDRESS=grpc:50051
      - NODE_ENV=production
    depends_on:
      - grpc
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
